repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args:
          - --maxkb=1024
      - id: check-json

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python

  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
            .*/migrations/.*|
            .*/__pycache__/.*|
            .*/venv/.*|
            .*/\.venv/.*
          )$
        args:
          - --max-line-length=88
          - --extend-ignore=E203,W503
